<!DOCTYPE Html>
<html>
    <head>
        <title>Express yourself...</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">
        <link rel="stylesheet" type="text/css" href="/blog.css">
    </head>
    <body>
        <div class="ui top red fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="child icon"></i>Express yourself...</div>
                <a href="/" class="item">Collection of thoughts</a>
                <a href="/blogs/new" class="item">New thoughts...</a>
                <a href="/blogs/about" class="item right">About</a>
            </div>
        </div>