<% include ./partials/header %>

<p id="about"> Hello fellow user!<br>This is simple blog site where everxone can write down their thougts, feelings and
    important events in your life.<br>You are also admin of site. You can delete or edit any blog if you consider it
    necessary.<br>Everything is anonimous.<br>Please be behave resposible, don't insult or disrespect.</p>

<% include ./partials/footer %>