@import url("https://fonts.googleapis.com/css?family=Mali:400,700");
.text {
  margin: 10vh;
}

.ui .button {
  margin: 10px;
}

#delete {
  display: inline;
}

.ui.items > .item > .image:only-child > img {
  height: 200px;
  width: 175px;
}

.post-info {
  display: inline;
}

#about {
  margin: 25vh;
  padding: 8vh;
  font-size: 3vh;
  font-family: "Mali", cursive;
  color: blue;
  border: 2px solid khaki;
  text-align: center;
}

.post {
  display: flex;
  flex-direction: row;
}

.blog {
  display: flex;
  flex-direction: column;
}

.post-image {
  width: 45%;
  height: 45%;
}
